@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutInforPersonal";
}
@model Project_Blue.Models.PostACmt
<div class="container__blue">
    <div class="container__left">
        <ul class="container__left-sidebar">
            <li class="container__sidebar-items">
                <a asp-controller="Home" asp-action="Home" asp-route-id="@ViewBag.IdinforUser" asp-route-checkLogin="1"
                class="sidebar-items-text">
                    <img class="sidebar-items-icon"
                         src="/imagesPost/Home.png"
                         alt="Home" />
                    <span class="sidebar-items-text">Trang Chủ</span>
                </a>
            </li>
            <li class="container__sidebar-items">
                <a asp-action="Index" asp-route-id="@ViewBag.IdinforUser" asp-route-checkLogin="1"
                   asp-route-idUser="@ViewBag.IdinforUser" class="sidebar-items-text">
                    <img class="sidebar-items-icon"
                         src="/imagesPost/User.png"
                         alt="Home" />
                    <span class="sidebar-items-text">Trang cá nhân</span>
                </a>
            </li>
            <li class="container__sidebar-items">
                <a asp-controller="InforPersonal" asp-action="updateInfor" asp-route-checkLogin="1"
                   asp-route-idUser="@ViewBag.IdinforUser" class="sidebar-items-text">
                    <img class="sidebar-items-icon"
                         src="/imagesPost/Savepost.png"
                         alt="Home" />
                    <span class="sidebar-items-text">Chỉnh sửa thông tin</span>
                </a>
            </li>
            <li class="container__sidebar-items">
                <a asp-controller="Home" asp-action="DisPlaySavePost" class="sidebar-items-text">
                    <img class="sidebar-items-icon"
                         src="/imagesUser/SavePostImg.png"
                         alt="Home" />
                    <span class="sidebar-items-text">Bài đăng đã lưu</span>
                </a>
            </li>
        </ul>
        <ul class="container__left-message">
            <a href="#" class="grid__left-message">
                <span class="container__left-message--text"> Thông báo </span>
                <i class="fa-solid fa-chevron-down container__left-message--icon"></i>
            </a>
            @foreach(var user in Model.thongTinCaNhans)
            {
            @foreach(var banBe in Model.BanBes)
            {
                @if(banBe.IdUser2 == @ViewBag.IdinforUser && banBe.IdUser1 == user.MaKhachHang && banBe.TrangThai==2){
                    <li class="container__left-message-items active">
                            <img style="width: 40px; height: 40px; border-radius: 50%"
                                 src="@user.AnhDaiDien"
                                 alt="" />
                            <div class="grid__left-message-items-username">
                                <div class="left-message-items-username">
                                    @user.TenKhachHang đã gửi cho bạn lời mời kết bạn
                                </div>
                                <div class="grid__form-left-message-submit">
                                    <form asp-action="Accept">
                                        <input type="hidden" asp-for="@Model.BanBe.IdUser1" value="@banBe.IdUser1" />
                                        <input type="hidden" asp-for="@Model.BanBe.IdUser2" value="@banBe.IdUser2" />
                                        <button class="form-left-message-submit" type="submit">
                                            Chấp nhận
                                        </button>
                                    </form>
                                    <form asp-action="Refuse">
                                        <input type="hidden" asp-for="@Model.BanBe.IdUser1" value="@banBe.IdUser1" />
                                        <input type="hidden" asp-for="@Model.BanBe.IdUser2" value="@banBe.IdUser2" />
                                        <button class="form-left-message-submit" type="submit">
                                            Từ chối
                                        </button>
                                    </form>
                                </div>
                            </div>
                    </li>
                }
            }
            }
        </ul>

    </div>
    <div class="container__center">
        <div class="container__center-user-update">
            <div class="center-sidebar-update-InforUser">
                <h1 class="sidebar-update-InforUser-title">Thông tin</h1>
                <ul class="sidebar-update-InforUser-details">
                    <li class="sidebar-update-InforUser-items">
                        <a class="sidebar-update-InforUser-items-text" href="#">
                            Tổng quan
                        </a>
                    </li>
                    <li class="sidebar-update-InforUser-items">
                        <a class="sidebar-update-InforUser-items-text" href="#">
                            Bảo mật
                        </a>
                    </li>
                    <li class="sidebar-update-InforUser-items">
                        <a class="sidebar-update-InforUser-items-text" href="#">
                            Liên kết
                        </a>
                    </li>
                </ul>
            </div>
            <div class="center-context-update-InforUser">
                <form method="post" asp-action="updateInfor" class="context-update-InforUser-details" enctype="multipart/form-data">
                    <div class="context-update-InforUser-items">
                        <input asp-for="@Model.ThongTinCaNhan.MaKhachHang"
                               type="hidden" 
                               value="@ViewBag.IdinforUser" />
                    </div>
                    <div class="context-update-InforUser-items">
                        <input asp-for="@Model.ThongTinCaNhan.UserName"
                               type="hidden" />
                    </div>
                    <div class="context-update-InforUser-items">
                        <input asp-for="@Model.ThongTinCaNhan.Password"
                               type="hidden" />
                    </div>
                    <div class="context-update-InforUser-items">
                        <input asp-for="@Model.ThongTinCaNhan.TypeUser"
                               type="hidden" />
                    </div>
                    <div class="context-update-InforUser-items">
                        <span class="update-InforUser-items-text"> Họ và tên </span>
                        <input type="text"
                               asp-for="@Model.ThongTinCaNhan.TenKhachHang"
                               class="update-InforUser-items-input"/>
                    </div>
                    <div class="context-update-InforUser-items">
                        <span style="display:block" asp-validation-for="@Model.ThongTinCaNhan.TenKhachHang" class="text-danger"></span>
                    </div>
                    <div class="context-update-InforUser-items">
                        <span class="update-InforUser-items-text"> Giới tính </span>
                        <select asp-for="@Model.ThongTinCaNhan.GioiTinh" asp-items="@ViewBag.GioiTinh" class="update-InforUser-items-input"></select>
                    </div>
                    <div class="context-update-InforUser-items">
                        <span class="update-InforUser-items-text"> Ảnh đại diện </span>
                        <input name="anhDaiDien"
                               type="file"
                               asp-for="@Model.ThongTinCaNhan.AnhDaiDien"
                               class="update-InforUser-items-input" />
                    </div>
                    <div class="context-update-InforUser-items">
                        <span class="update-InforUser-items-text"> Ngày sinh </span>
                        <input type="date"
                               asp-for="@Model.ThongTinCaNhan.NgaySinh"
                               class="update-InforUser-items-input" />
                    </div>
                    <div class="context-update-InforUser-items">
                        <span class="update-InforUser-items-text"> Trạng thái </span>
                        <select asp-for="@Model.ThongTinCaNhan.TrangThai" asp-items="@ViewBag.TrangThai" class="update-InforUser-items-input"></select>
                    </div>
                    <div class="context-update-InforUser-items">
                        <span class="update-InforUser-items-text"> Số điện thoại </span>
                        <input type="text"
                               asp-for="@Model.ThongTinCaNhan.Sdt"
                               class="update-InforUser-items-input"/>
                    </div>
                    <div class="context-update-InforUser-items">
                        <span style="display:block" asp-validation-for="@Model.ThongTinCaNhan.Sdt" class="text-danger"></span>
                    </div>
                    <div class="context-update-InforUser-items">
                        <span class="update-InforUser-items-text"> Email </span>
                        <input type="email"
                               asp-for="@Model.ThongTinCaNhan.Gmail"
                               class="update-InforUser-items-input"/>
                    </div>
                    <div class="context-update-InforUser-items">
                        <span style="display:block" asp-validation-for="@Model.ThongTinCaNhan.Gmail" class="text-danger"></span>
                    </div>
                    <div class="context-update-InforUser-items">
                        <span class="update-InforUser-items-text"> Mô tả </span>
                        <input asp-for="@Model.ThongTinCaNhan.TieuSu"
                               class="update-InforUser-items-input"/>
                    </div>
                    <button type="submit" class="context-update-InforUser-btn">
                        Cập nhật
                        <i style="margin-left: 8px"
                           class="fa-regular fa-floppy-disk"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="container__right">
        <ul class="container__right-sidebar">
            <a href="" class="container__right-items-addgr-button">
            <li class="container__right-items-addgroup">
                <i class="fa-solid fa-plus container__right-items--gr-icon"></i>
                <span class="container__right-title-group">Thêm mới Group chat</span>
            </li>
            </a>
        </ul>
        <ul class="container__right-sidebar">
            <a href="#"
               style="cursor: pointer; text-decoration: none; color: #333"
               id="click_friends_home">
            <li class="container__right-items-head">
                <span class="container__right-items-text"> Bạn bè </span>
                <i id="icon_friends_home"
                   class="fa-solid fa-chevron-up container__left-message--icon"></i>
            </li>
            </a>
            @foreach(var ListFriend in Model.BanBes)
            {
                if (ListFriend.IdUser1 == ViewBag.IdinforUser && ListFriend.TrangThai == 1)
                {
                    <form class="form__displayRoomchat" asp-action="RoomChat">
                        <input asp-for="@Model.RoomChat.MaUser1" type="hidden" value="@ListFriend.IdUser1" />
                        <input asp-for="@Model.RoomChat.MaUser2" type="hidden" value="@ListFriend.IdUser2" />
                        <button type="submit" class="container__right-items show_friends_home">
                            <img class="right-items-icon"
                                 src="@ListFriend.IdUser2Navigation.AnhDaiDien"
                                 alt="User_imgae" />
                            <div class="grid__right-items-username">
                                <div class="right-items-username">@ListFriend.IdUser2Navigation.TenKhachHang</div>
                                <div class="right-items-message">
                                    <span class="right-items-message--status"></span>
                                    Đang online
                                </div>
                            </div>
                        </button>
                    </form>
                }
                else if (ListFriend.IdUser2 == ViewBag.IdinforUser && ListFriend.TrangThai == 1)
                {
                    <form class="form__displayRoomchat" asp-action="RoomChat">
                        <input asp-for="@Model.RoomChat.MaUser1" type="hidden" value="@ListFriend.IdUser2" />
                        <input asp-for="@Model.RoomChat.MaUser2" type="hidden" value="@ListFriend.IdUser1" />
                        <button type="submit" class="container__right-items show_friends_home">
                            <img class="right-items-icon"
                                 src="@ListFriend.IdUser1Navigation.AnhDaiDien"
                                 alt="User_imgae" />
                            <div class="grid__right-items-username">
                                <div class="right-items-username">@ListFriend.IdUser1Navigation.TenKhachHang</div>
                                <div class="right-items-message">
                                    <span class="right-items-message--status"></span>
                                    Đang online
                                </div>
                            </div>
                        </button>
                    </form>
                }
            }
        </ul>

        <ul class="container__right-sidebar">
            <a href="#"
               style="cursor: pointer; text-decoration: none; color: #333"
               id="click_gr_home">
            <li class="container__right-items-head">
                <span class="container__right-items-text"> Nhóm </span>
                <i id="icon_gr_home"
                   class="fa-solid fa-chevron-up container__left-message--icon"></i>
            </li>
            </a>

            <div class="loadGroup">
                @if (Model.groupMembers != null)
                    @foreach (var gr in Model.groupMembers)
                    {
                        if (gr.UserId == ViewBag.IdinforUser)
                        {
                        <a class="show_gr_home displayGrBox" data-grid="@gr.GroupId">
                            <li>
                                <img class="right-items-icon"
                                     src="@gr.Group.GroupImage"
                                     alt="Gr_imgae" />
                                <div class="grid__right-items-username">
                                    <div class="right-items-username">@gr.Group.GroupName</div>
                                </div>
                            </li>
                        </a>
                        }
                    }
                else
                {

                }
            </div>
        </ul>
    </div>
    @*---------------RoomChat-----------*@
    <div class="show__container__footer-roomchat">

    </div>
</div>

<div class="modal" id="modal">
    <div class="modal__overlay"></div>
    <div class="modal__body">
        <ul class="modal__list--addgroup">
            <h2 class="modal__title">Thêm người</h2>
            <ul class="items__added-friends-list">
            </ul>
            <h2 class="modal__title">Danh sách bạn bè</h2>
            @foreach (var friend in Model.BanBes)
            {
                if (friend.IdUser1 == ViewBag.IdinforUser && friend.TrangThai == 1)
                {
                    <li>
                        <a class="items__addgroup" asp-action="" data-id="@friend.IdUser2Navigation.MaKhachHang">
                            <div class="grid__items-left">
                                <img class="items__left--img"
                                     src="@friend.IdUser2Navigation.AnhDaiDien"
                                     alt="images" />
                                <span class="items__left--name">@friend.IdUser2Navigation.TenKhachHang</span>
                            </div>
                            <div class="grid__items-right">
                                <input class="grid__items-right-check" type="checkbox" />
                            </div>
                        </a>
                    </li>
                }
                else if (friend.IdUser2 == ViewBag.IdinforUser && friend.TrangThai == 1)
                {
                    <li>
                        <a class="items__addgroup" data-id="@friend.IdUser1Navigation.MaKhachHang">
                            <div class="grid__items-left">
                                <img class="items__left--img"
                                     src="@friend.IdUser1Navigation.AnhDaiDien"
                                     alt="images" />
                                <span class="items__left--name">@friend.IdUser1Navigation.TenKhachHang</span>
                            </div>
                            <div class="grid__items-right">
                                <input class="grid__items-right-check" type="checkbox" />
                            </div>
                        </a>
                    </li>
                }
            }
            <a class="confirm_addGroup" asp-action="confirm_addGroup">Tạo mới group</a>
        </ul>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
//    var click_text_home = document.querySelector("#click_text_home");
    var click_friends_home = document.querySelector("#click_friends_home");
    var click_gr_home = document.querySelector("#click_gr_home");

 /*   click_text_home.onclick = function (e) {
        e.preventDefault();
        document.querySelector("#show_text_home").classList.toggle("active");
        var icon_text_home = document.getElementById("icon_text_home");
        if (icon_text_home.classList.contains("fa-chevron-up")) {
            icon_text_home.classList.remove("fa-chevron-up");
            icon_text_home.classList.add("fa-chevron-down");
        } else {
            icon_text_home.classList.remove("fa-chevron-down");
            icon_text_home.classList.add("fa-chevron-up");
        }
    };*/
    const form_addgr = document.querySelector('.container__right-items-addgr-button');
    const items = document.querySelector("#modal");
    form_addgr.addEventListener("click", function (e) {
        e.preventDefault();
        document.querySelector('.loadGroup').classList.remove("active");
        document.querySelectorAll(".show_gr_home").forEach(function (e) {
            e.classList.remove("active");
        })
        const icon_gr_home = document.getElementById("icon_gr_home");
        if (icon_gr_home.classList.contains("fa-chevron-up")) {
        } else {
            icon_gr_home.classList.remove("fa-chevron-down");
            icon_gr_home.classList.add("fa-chevron-up");
        }
        items.classList.toggle("active");
        LoadAddedFriends();
    });
    const modal = document.querySelector(".modal");
    modal.onclick = function () {
        modal.classList.remove("active");
        document.querySelectorAll(".grid__items-right-check").forEach(function (e) {
            e.checked = false;
        })
        fetch('/home/clearList', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .catch((error) => {
                console.error('Error:', error);
            });
    };
    const form_list = document.querySelector(".modal__body");
    form_list.onclick = function (e) {
        e.stopPropagation();
    };
    const form_addGr = document.querySelector(".confirm_addGroup");
    form_addGr.onclick = function (e) {
        modal.classList.remove("active");
        document.querySelectorAll(".grid__items-right-check").forEach(function (e) {
            e.checked = false;
        })
    };
    $(document).ready(function () {
        $('.items__addgroup').click(function (event) {
            event.preventDefault();
            var friendId = $(this).data('id');

            var checkbox = $(this).find('.grid__items-right-check');
            checkbox.prop('checked', !checkbox.prop('checked'));

            if (checkbox.checked) {
                checkbox.checked = false;
            } else {
                checkbox.checked = true;
            };
            $.ajax({
                type: "POST",
                url: '/Home/Added_Friends',
                data: { id: friendId },
                success: function (response) {
                    LoadAddedFriends();
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        });
    });
    function LoadAddedFriends() {
        $.ajax({
            url: '/Home/displayFriends',
            type: 'GET',
            success: function (response) {
                $('.items__added-friends-list').html(response);
                addItemToList();
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
    const myList = document.querySelector('.items__added-friends-list');

    function autoScrollToEnd() {
        myList.scrollLeft = myList.scrollWidth;
    }

    function addItemToList() {
        let newItem = document.createElement('li');

        myList.appendChild(newItem);

        autoScrollToEnd();
    }
    /**************************/

    $(document).ready(function () {
        $('.confirm_addGroup').click(function (event) {
            event.preventDefault();

            $.ajax({
                type: "POST",
                url: '/Home/confirm_addGroup',
                success: function (response) {
                    LoadMessageGroup();
                    LoadGroup();
                },
                error: function (xhr, status, error) {
                    alert("Error: " + error);
                }
            });
        });
    });

    function LoadMessageGroup() {
        $.ajax({
            url: '/Home/DisplayMessageGroupFirst',
            type: 'GET',
            success: function (response) {
                $('.show__container__footer-roomchat').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
    function LoadGroup() {
        $.ajax({
            url: '/Home/loadGroup',
            type: 'GET',
            success: function (responses) {
                $('.loadGroup').html(responses);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
    /*-------------------Display Group Chat*/
    $(document).ready(function () {
        $('.displayGrBox').click(function (event) {
            event.preventDefault();
            var GrId = $(this).data('grid');

            $.ajax({
                type: "GET",
                url: '/Home/DisplayMessageGroup',
                data: { grId: GrId },
                success: function (response) {
                    $('.show__container__footer-roomchat').html(response);
                    var chatContainerGr = $('.container__footer-roomchat-content');
                    chatContainerGr.scrollTop(chatContainerGr.prop("scrollHeight"));
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        });
    });
    click_friends_home.onclick = function (e) {
        e.preventDefault(); 
        document.querySelectorAll(".show_friends_home").forEach(function (e) {
            e.classList.toggle("active");
        });
        var icon_friends_home = document.getElementById("icon_friends_home");
        if (icon_friends_home.classList.contains("fa-chevron-up")) {
            icon_friends_home.classList.remove("fa-chevron-up");
            icon_friends_home.classList.add("fa-chevron-down");
        } else {
            icon_friends_home.classList.remove("fa-chevron-down");
            icon_friends_home.classList.add("fa-chevron-up");
        }
    };
    click_gr_home.onclick = function (e) {
        e.preventDefault();
        document.querySelector('.loadGroup').classList.toggle("active");
        document.querySelectorAll(".show_gr_home").forEach(function (e) {
            e.classList.toggle("active");
        })
        const icon_gr_home = document.getElementById("icon_gr_home");
        if (icon_gr_home.classList.contains("fa-chevron-up")) {
            icon_gr_home.classList.remove("fa-chevron-up");
            icon_gr_home.classList.add("fa-chevron-down");
        } else {
            icon_gr_home.classList.remove("fa-chevron-down");
            icon_gr_home.classList.add("fa-chevron-up");
        }
    };

    var click_message = document.querySelector(".grid__left-message");
    click_message.onclick = function (e) {
        e.preventDefault();
        document
            .querySelector(".container__left-message-items")
            .classList.toggle("active");
        var icon_message = document.querySelector(
            ".container__left-message--icon"
        );
        if (icon_message.classList.contains("fa-chevron-up")) {
            icon_message.classList.remove("fa-chevron-up");
            icon_message.classList.add("fa-chevron-down");
        } else {
            icon_message.classList.remove("fa-chevron-down");
            icon_message.classList.add("fa-chevron-up");
        }
    };

    $(document).on('submit', '.form__displayRoomchat', function (e) {
        e.preventDefault();
        var formChat = $(this).serializeArray();
        $.ajax({
            url: '/InforPersonal/RoomChat',
            type: 'POST',
            data: formChat,
            success: function (data) {
                displayRoomchat()
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });

    function displayRoomchat() {
        $.ajax({
            url: '/InforPersonal/DisplayRoomChat',
            type: 'GET',
            success: function (response) {
                $('.show__container__footer-roomchat').html(response);
                var chatContainer = $('.container__footer-roomchat-content');
                chatContainer.scrollTop(chatContainer.prop("scrollHeight"));
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>
