@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    int check = 0;
}
@model Project_Blue.Models.PostACmt
@*
@foreach (var item in Model.BinhLuanList)
{
    if (item.MaBaiPost == ViewBag.maBaiPost)
    {
        <li class="others-post-cmt-items">
            <img class="post-cmt-items-img"
                 src="@item.IdUserCmtNavigation.AnhDaiDien"
                 alt="User_img" />
            <div class="grid__cmt-items">
                <div class="cmt-items-user-name">@item.IdUserCmtNavigation.TenKhachHang</div>
                <div class="cmt-items-user-cmt">@item.NoiDungCmt</div>
            </div>
            <a asp-action="DeleteCmt" asp-route-idCmt="@item.MaCmt" asp-route-id="@ViewBag.idUser">
                <i class="fa-solid fa-xmark icon-remove-cmt"></i>
            </a>
        </li>
    }
}

<form asp-action="PostCmt" class="form__others-post-cmt-items">
    <img class="post-cmt-items-img"
         src="@ViewBag.AnhUser"
         alt="User_img" />
    <div class="form__user-post">
        <input asp-for="@Model.binhLuan.NoiDungCmt"
               class="form__user-post-input"
               type="text"
               placeholder="Viết bình luận..." />

        <input asp-for="@Model.binhLuan.MaBaiPost"
               value="@ViewBag.maBaiPost"
               type="hidden"
               placeholder="Viết bình luận..." />
        <input value="@ViewBag.idUser"
               asp-for="@Model.binhLuan.IdUserCmt"
               type="hidden" />
        <button class="form__user-post-submit" type="submit">Gửi</button>
    </div>
</form>
*@
    @if (ViewBag.maNguoiPost  == ViewBag.IdUser)
    {
        @foreach (var binhluan in Model.BinhLuanList)
        {
            if (binhluan.MaBaiPost == ViewBag.maBaiPost)
            {
               check = 1;
                    <li class="others-post-cmt-items">
                        <img class="post-cmt-items-img"
                             src="@binhluan.IdUserCmtNavigation.AnhDaiDien"
                             alt="User_img" />
                        <div class="grid__cmt-items">
                            <div class="cmt-items-user-name">@binhluan.IdUserCmtNavigation.TenKhachHang</div>
                            <div class="cmt-items-user-cmt">@binhluan.NoiDungCmt</div>
                        </div>
                        
                        <form asp-action="DeleteCmt" class="form__icon-remove-cmt">
                            <input name="id" type="hidden" value="@ViewBag.IdUser" />
                            <input name="idCmt" type="hidden" value="@binhluan.MaCmt" />
                            <button type="submit" style=" background-color: transparent;
                                        border: none; ">
                                <i class="fa-solid fa-xmark icon-remove-cmt"></i>
                            </button>
                        </form>
                    </li>
                
            }

        } 

    }


@if (check == 0)
{
@foreach (var binhluan in Model.BinhLuanList)
        {
            if (binhluan.MaBaiPost == ViewBag.maBaiPost)
            {
                if (binhluan.IdUserCmt == ViewBag.IdUser)
                {
                    <li class="others-post-cmt-items">
                        <img class="post-cmt-items-img"
                             src="@binhluan.IdUserCmtNavigation.AnhDaiDien"
                             alt="User_img" />
                        <div class="grid__cmt-items">
                            <div class="cmt-items-user-name">@binhluan.IdUserCmtNavigation.TenKhachHang</div>
                            <div class="cmt-items-user-cmt">@binhluan.NoiDungCmt</div>
                        </div>
                        <form asp-action="DeleteCmt" class="form__icon-remove-cmt">
                            <input name="id" type="hidden" value="@ViewBag.IdUser" />
                            <input name="idCmt" type="hidden" value="@binhluan.MaCmt" />
                            <button type="submit" style=" background-color: transparent;
                                        border: none; ">
                                <i class="fa-solid fa-xmark icon-remove-cmt"></i>
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="others-post-cmt-items">
                        <img class="post-cmt-items-img"
                             src="@binhluan.IdUserCmtNavigation.AnhDaiDien"
                             alt="User_img" />
                        <div class="grid__cmt-items">
                            <div class="cmt-items-user-name">@binhluan.IdUserCmtNavigation.TenKhachHang</div>
                            <div class="cmt-items-user-cmt">@binhluan.NoiDungCmt</div>
                        </div>
                    </li>



                }
            }

        }
}

            <form asp-action="PostCmt" class="form__others-post-cmt-items">
                <img class="post-cmt-items-img"
                     src="@ViewBag.AnhUser"
                     alt="User_img" />
                <div class="form__user-post">
                    <input asp-for="@Model.binhLuan.NoiDungCmt"
                           class="form__user-post-input"
                           type="text"
                           placeholder="Viết bình luận..." />

                    <input asp-for="@Model.binhLuan.MaBaiPost"
                           value="@ViewBag.maBaiPost"
                           type="hidden"
                           placeholder="Viết bình luận..." />
                    <input value="@ViewBag.IdUser"
                           asp-for="@Model.binhLuan.IdUserCmt"
                           type="hidden" />
                    <button class="form__user-post-submit" type="submit">Gửi</button>
                </div>
            </form>
